<!DOCTYPE html>
<html>
<head>
    <title>Farmer Registration</title>
</head>
<body>

<h2>Farmer Registration</h2>

<form method="POST">
    <input type="text" name="name" placeholder="Farmer Name" required><br><br>

    <input type="text" name="aadhaar" placeholder="Aadhaar Number" required><br><br>

    <input type="text" name="phone" placeholder="Phone Number" required><br><br>

    <input type="text" name="village" placeholder="Village" required><br><br>

    <input type="text" name="land" placeholder="Land Area" required><br><br>

    <input type="text" name="username" placeholder="Username" required><br><br>

    <input type="password" name="password" placeholder="Password" required><br><br>

    <button type="submit">Register</button>
</form>

</body>
</html>